* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f1f5f8;
  color: #222;
}

.Booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .Booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.Book img {
  width: 100%;
  object-fit: cover;
}

.Book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.Author {
  color: #617d98;
  letter-spacing: 2px;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgba(240, 129, 38, 0.93);
  color: #fff;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.title {
  text-align: center;
  margin-top: 4rem;
  text-transform: capitalize;
}
